<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Мухидинов Фахридин" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="robots" content="all" />
    <meta
      name="description"
      content="Самый популярный университет Южного Кыргызстана"
    />
    <meta
      name="keywords"
      content="ОшГУ, вуз, вуз, диплом, экзамен, бакалавриат, магистратура, докторантура, аспирант, преподаватель"
    />
    <meta name="geo.placename" content="ОшГУ" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedfak</title>
    <link rel="icon" href="./src/images/icon.png" />
    <link rel="stylesheet" href="../../src/Libs/font_icons/CSS/all.min.css" />
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../src/CSS/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <div class="header__nav-logo">
            <img src="../../src/images/icon-removebg-preview.png" alt="" />
          </div>
          <div class="header__nav-title">
            <h1>Факультет педагогики, психологии</h1>
          </div>
          <div class="header__nav__right">
            <div class="header__nav__right-social">
              <a href="#"><i class="fa-brands fa-vk"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="header__nav__right-search">
              <input type="text" placeholder="Поиск" />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="content">
        <div class="sidebar">
          <nav class="sidebar__nav">
            <article><a href="../../index.html">Домой</a></article>
            <article>
              <a href="../safety/index.html">ЦЕЛИ И ОБЯЗАННОСТИ</a>
            </article>
            <article>
              <a href="../information/index.html">ИНФОРМАЦИОННЫЙ ПАКЕТ</a>
            </article>
            <article><a href="#">Магистратура</a></article>
            <article><a href="#">Ассоциация выпускников</a></article>
            <article>
              <a href="../department/index.html">Дистанционное отделение</a>
            </article>
          </nav>
        </div>
        <main class="tab">
          <section class="tab__content">
            <a href="../../index.html"
              ><i class="fa-solid fa-house"></i> >&nbsp;&nbsp;</a
            ><span>ВИДЕОЗАПИСИ</span>
            <h3>ВИДЕОЗАПИСИ</h3>
            <div class="tab__cards">
              <div class="tab__card">
                <h5>Здесь бедет называные</h5>
                <video
                  width="400"
                  height="300"
                  controls="controls"
                  poster="video/duel.jpg"
                >
                  <source
                    src="video/duel.ogv"
                    type='video/ogg; codecs="theora, vorbis"'
                  />
                  <source
                    src="video/duel.mp4"
                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
                  />
                  <source
                    src="video/duel.webm"
                    type='video/webm; codecs="vp8, vorbis"'
                  />
                  Тег video не поддерживается вашим браузером.
                  <a href="video/duel.mp4">Скачайте видео</a>.
                </video>
                <span>Здесь бедет дата</span>
              </div>
              <div class="tab__card">
                <h5>Здесь бедет называные</h5>
                <video
                  width="400"
                  height="300"
                  controls="controls"
                  poster="video/duel.jpg"
                >
                  <source
                    src="video/duel.ogv"
                    type='video/ogg; codecs="theora, vorbis"'
                  />
                  <source
                    src="video/duel.mp4"
                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
                  />
                  <source
                    src="video/duel.webm"
                    type='video/webm; codecs="vp8, vorbis"'
                  />
                  Тег video не поддерживается вашим браузером.
                  <a href="video/duel.mp4">Скачайте видео</a>.
                </video>
                <span>Здесь бедет дата</span>
              </div>
              <div class="tab__card">
                <h5>Здесь бедет называные</h5>
                <video
                  width="400"
                  height="300"
                  controls="controls"
                  poster="video/duel.jpg"
                >
                  <source
                    src="video/duel.ogv"
                    type='video/ogg; codecs="theora, vorbis"'
                  />
                  <source
                    src="video/duel.mp4"
                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
                  />
                  <source
                    src="video/duel.webm"
                    type='video/webm; codecs="vp8, vorbis"'
                  />
                  Тег video не поддерживается вашим браузером.
                  <a href="video/duel.mp4">Скачайте видео</a>.
                </video>
                <span>Здесь бедет дата</span>
              </div>
              <div class="tab__card">
                <h5>Здесь бедет называные</h5>
                <video
                  width="400"
                  height="300"
                  controls="controls"
                  poster="video/duel.jpg"
                >
                  <source
                    src="video/duel.ogv"
                    type='video/ogg; codecs="theora, vorbis"'
                  />
                  <source
                    src="video/duel.mp4"
                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
                  />
                  <source
                    src="video/duel.webm"
                    type='video/webm; codecs="vp8, vorbis"'
                  />
                  Тег video не поддерживается вашим браузером.
                  <a href="video/duel.mp4">Скачайте видео</a>.
                </video>
                <span>Здесь бедет дата</span>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="footer__nav">
          <ul class="footer__nav__contacts">
            <span><i class="fa-solid fa-address-book"></i></span>
            <h5>Контакты</h5>
            <li>Кыргызстан, 723500, г. Ош,</li>
            <li>ул. Ленина, 331, ОшГУ Главный корпус</li>
            <li>Общий отдел: +996 3222 2-22-73,</li>
            <li>факс +996 3222 2-40-66,</li>
            <li>oshsu.oms@gmail.com</li>
          </ul>
          <ul class="footer__nav__contacts">
            <span><i class="fa-solid fa-newspaper"></i></span>
            <h5>Пресс-служба</h5>
            <li>hechgpi@mail.ru</li>
            <li>Е-mail: zinur11@mail.ru</li>
            <li>0(3222) 2-04-87, 0770-37-94-98</li>
            <li>Нуралиева Зинагул Абдырашитовна</li>
          </ul>
          <ul class="footer__nav__contacts">
            <span><i class="fa-solid fa-graduation-cap"></i></span>
            <h5>Приемная комиссия</h5>
            <li>Кыргызстан, 723500, г. Ош,</li>
            <li>ул. Ленина, 331, ОшГУ Главный корпус</li>
            <li>Приемная комиссия: +996 3222 2-45-25,</li>
            <li>oshsu.oms@gmail.com</li>
          </ul>
          <ul class="footer__nav__contacts">
            <span><i class="fa-solid fa-graduation-cap"></i></span>
            <h5>
              Ошский государственный <br />
              университет
            </h5>
            <li>Официальный сайт</li>
            <li>Факультет педагогики, психологии</li>
            <li><a href="mailto:coderun@gmail.com">© 2023 coderun</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../src/Libs/font_icons/JS/all.min.js"></script>
    <script src="../../src/JS/main.js"></script>
  </body>
</html>
