{% load static %}
<footer class="footer">
    <div class="container">
      <nav class="footer__nav">
        <ul class="footer__nav__contacts">
          <span><i class="fa-solid fa-address-book"></i></span>
          <h5>Контакты</h5>
          <li>Кыргызстан, 723500, г. Ош,</li>
          <li>ул. Ленина, 331, ОшГУ Главный корпус</li>
          <li>Общий отдел: +996 3222 2-22-73,</li>
          <li>факс +996 3222 2-40-66,</li>
          <li>oshsu.oms@gmail.com</li>
        </ul>
        <ul class="footer__nav__contacts">
          <span><i class="fa-solid fa-newspaper"></i></span>
          <h5>Пресс-служба</h5>
          <li>hechgpi@mail.ru</li>
          <li>Е-mail: zinur11@mail.ru</li>
          <li>0(3222) 2-04-87, 0770-37-94-98</li>
          <li>Нуралиева Зинагул Абдырашитовна</li>
        </ul>
        <ul class="footer__nav__contacts">
          <span><i class="fa-solid fa-graduation-cap"></i></span>
          <h5>Приемная комиссия</h5>
          <li>Кыргызстан, 723500, г. Ош,</li>
          <li>ул. Ленина, 331, ОшГУ Главный корпус</li>
          <li>Приемная комиссия: +996 3222 2-45-25,</li>
          <li>oshsu.oms@gmail.com</li>
        </ul>
        <ul class="footer__nav__contacts">
          <span><i class="fa-solid fa-graduation-cap"></i></span>
          <h5>
            Ошский государственный <br />
            университет
          </h5>
          <li>Официальный сайт</li>
          <li>Факультет педагогики, психологии</li>
          <li><a href="mailto:coderun@gmail.com">© 2023 coderun</a></li>
        </ul>
      </nav>
    </div>
  </footer>