{% load static %}
<header class="header">
    <div class="container">
      <nav class="header__nav">
        <div class="header__nav-logo">
          <img src="{% static 'src/images/icon-removebg-preview.png' %}" alt="" />
        </div>
        <div class="header__nav-title">
          <h1>Факультет педагогики, психологии</h1>
        </div>
        <div class="header__nav__right">
          <div class="header__nav__right-social">
            <a href="#"><i class="fa-brands fa-vk"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="header__nav__right-search">
            <form method="get" action="{% url 'search' %}">
              {% csrf_token %}
              <input type="text" name="key" placeholder="Поиск" />
              <i class="fa-solid fa-magnifying-glass"></i>
            </form> 
          </div>
        </div>
      </nav>
    </div>
  </header>