<div class="sidebar">
    <nav class="sidebar__nav">
        <article><a href="{% url 'index' %}">Домой</a></article>
        <article><a href="{% url 'safety' %}">ЦЕЛИ И ОБЯЗАННОСТИ</a></article>
        <article><a href="{% url 'information' %}">ИНФОРМАЦИОННЫЙ ПАКЕТ</a></article>
        <article><a href="#">Магистратура</a></article>
        <article><a href="#">Ассоциация выпускников</a></article>
        <article><a href="{% url 'department' %}">Дистанционное отделение</a></article>
    </nav>
</div>