<div class="sidebar">
    <nav class="sidebar__nav">
        <article><a href="{% url 'index' %}">Домой</a></article>
        <article><a href="../safety/index.html">ЦЕЛИ И ОБЯЗАННОСТИ</a></article>
        <article><a href="../information/index.html">ИНФОРМАЦИОННЫЙ ПАКЕТ</a></article>
        <article><a href="#">Магистратура</a></article>
        <article><a href="#">Ассоциация выпускников</a></article>
        <article><a href="../department/index.html">Дистанционное отделение</a></article>
    </nav>
</div>