@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #19e8ff;
  border-radius: 8px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

::-webkit-scrollbar-track {
  background: #fff;
}

body {
  background-image: url(../images/background.jpg);
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 1rem;
  }
}
.header__nav {
  background: rgba(33, 28, 28, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  flex-wrap: wrap;
}
.header__nav-logo img {
  width: 200px;
  height: 100px;
}
.header__nav-title h1 {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  color: white;
}
.header__nav__right {
  display: flex;
  column-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.header__nav__right-social {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header__nav__right-social a > i {
  color: #fff;
}
.header__nav__right-search {
  padding: 5px;
  border-radius: 10px;
  background: white;
}
.header__nav__right-search input {
  background: none;
  border: none;
  outline: 0;
  max-width: 250px;
}

@media screen and (max-width: 1080px) {
  .header__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header__nav h1 {
    text-align: center;
  }
  .header__nav__right {
    justify-content: center;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 229, 255, 0.9);
}
.content .sidebar {
  width: 20%;
}
.content .main {
  width: 60%;
}
.content .sidebar__right {
  width: 20%;
}
.content .tab {
  width: 80%;
  padding: 0 20px;
}
@media screen and (max-width: 1080px) {
  .content .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content .sidebar {
    width: 100%;
    order: 1;
  }
  .content .main {
    width: 100%;
    order: 0;
  }
  .content .sidebar__right {
    width: 100%;
    order: 0;
  }
}

.sidebar__nav {
  padding: 20px 20px;
}
.sidebar__nav a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
}
.sidebar__cards {
  padding: 10px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__cards div {
  width: 100%;
}
.sidebar__cards div img {
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .sidebar__cards {
    margin-top: 0;
  }
  .sidebar__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
.sidebar__right {
  padding: 0 20px;
}
.sidebar__right-media img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.sidebar__right-media p {
  font-size: 0.9em;
  color: white;
}
.sidebar__right-media h3 {
  text-align: center;
  font-size: 18px;
  color: white;
}
.sidebar__right .sidebar__nav {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  text-align: center;
}
.sidebar__right .sidebar__nav a {
  font-size: 10px;
}
.sidebar__right .sidebar__nav a span {
  font-size: 30px;
}
.sidebar__right-pages h3 {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 20px;
}

.tab__content {
  padding: 0 30px;
}
.tab__content span {
  color: white;
  font-size: 10px;
}
.tab__content h3 {
  border-top: 1px dashed orangered;
  text-align: center;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}
.tab__content p {
  color: white;
  text-align: justify;
}
.tab__content img {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
.tab__content form {
  color: white;
  margin-bottom: 20px;
}
.tab__content form .form__input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tab__content form .form__input div > input {
  width: 380px;
  border: none;
  outline: 0;
  padding: 2px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.tab__content form textarea {
  width: 100%;
  border: none;
  outline: 0;
  padding: 2px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.tab__content form button {
  border: none;
  outline: 0;
  padding: 2px 10px;
  border-radius: 10px;
}
.tab__content .tab__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.tab__content .tab__cards .tab__card {
  width: calc(50% - 40px);
  border-bottom: 2px solid black;
  text-align: justify;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.tab__content .tab__cards .tab__card h5 {
  font-size: 12px;
  color: white;
  text-align: center;
}
.tab__content .tab__cards .tab__card img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.tab__content .tab__cards .tab__card span {
  display: block;
  text-align: end;
}

.news h3 {
  color: white;
  margin-top: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  font-size: 20px;
  padding-bottom: 2px;
}
.news__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.news__cards .news__card {
  width: calc(50% - 40px);
  border-bottom: 2px solid black;
  text-align: justify;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
@media screen and (max-width: 780px) {
  .news__cards .news__card {
    width: 100%;
    padding: 40px;
  }
}
.news__cards .news__card p {
  font-size: 12px;
}
.news__cards .news__card img {
  width: 100%;
  margin-bottom: 10px;
}

.footer__nav {
  padding: 40px 0;
  padding-right: 20px;
  background: rgba(33, 28, 28, 0.9);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  color: white;
}
.footer__nav span {
  font-size: 50px;
}

@media screen and (max-width: 1140px) {
  .header__nav {
    flex-wrap: nowrap;
  }
  .header__nav__right {
    justify-content: center;
  }
  .header__nav__right-search {
    margin-top: 5px;
  }
  .sidebar__right-media img {
    height: 260px;
  }
  .form__input input {
    width: 480px !important;
  }
  .tab__content form textarea {
    width: 480px;
  }
}
@media screen and (max-width: 992px) {
  .news {
    padding: 20px;
  }
  .sidebar__right-media img {
    width: 500px;
    height: 400px;
    display: block;
    margin: 0 auto;
  }
  .sidebar__right-media p {
    text-align: center;
  }
  .sidebar__right .sidebar__nav {
    column-gap: 30px;
  }
  .sidebar__right-pages {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .footer__nav__contacts {
    padding-left: 25px;
  }
  .sidebar__right-media h3 {
    font-size: 20px;
  }
  .sidebar__nav:nth-child(1) {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
  .sidebar__nav a {
    font-size: 17px;
  }
  .content .tab {
    width: 100%;
  }
  .tab__card video {
    width: 100%;
  }
  .form__input input {
    width: 380px !important;
  }
  .tab__content form textarea {
    width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 400px !important;
  }
  .tab__content .tab__cards .tab__card {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .header__nav-logo img {
    width: 170px;
    height: 75px;
  }
  .header__nav__right {
    flex-direction: column;
  }
  .tab__content .tab__cards .tab__card h5 {
    font-size: 12px;
  }
  .tab__content {
    padding: 0 10px;
  }
  .sidebar__right-media img {
    width: 100%;
  }
  .tab__card video {
    width: 100%;
  }
  .form__input input {
    width: 100% !important;
  }
  .header__nav-title h1 {
    font-size: 19px;
  }
  .tab__content .tab__cards .tab__card img {
    height: 100%;
  }
  .tab__content span {
    display: none !important;
  }
  .tab__content h3 {
    font-size: 18px;
  }
  .tab__content img {
    margin: 0;
  }
  .tab__content form textarea {
    width: 100%;
  }
  .footer__nav__contacts {
    width: 100%;
    padding-left: 2em;
    margin-top: 15px;
  }
  .footer__nav {
    text-align: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
