{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
    <div class="container">
        <div class="content">
            {% include 'include/sidebar.html' %}

            <main class="tab">
                <section class="tab__content">
                    <a href="{% url 'index' %}"><i class="fa-solid fa-house"></i> >&nbsp;&nbsp;</a><span>БИОГРАФИЯ ДЕКАНА</span>
                    <h3>БИОГРАФИЯ ДЕКАНА</h3>
                    <p>
                        Факультет педагогики физвоспитания является одним из первых факультетов, основаных в структуре Ош ГУ. Этот факультет был открыт в 1959 году под названием музыкально-педагогический. Факультет принимал студентов на заочное отделение студентов для подготовки учителей музыки и начальных классов с высшим образованием. На то время потребность в кадрах с высшим образованием по вышеназванным специальностям была актуальной. А также было необходимо обучение без отрыва от производства.
                        В 1978 году музыкально-педагогический факультет самостоятельно разделили на два самостоятельных факультета:
                        1. факультет педагогики;
                        2. факультет музыки и пения.
                        Факультет готовил учителей только по специальности «Методика начального образования».
                        В 1979-1981 годах прием студентов на заочное отделение достиг до 114. В те годы заочное отделение факультета обслуживали и вели учебно-воспитательную работу преподаватели пяти кафедр. (На кафедре работали 44 преподавателя, из них 13 были кандидатами наук и доцентами).
                        Позже были открыты специальности по подготовке воспитателей с высшим образованием дошкольных учреждений и в 1998-1999 учебном году было введена специальность по “физвоспитанию”.
                        С 2012 года в связи с переходом на двухстепенчатое образование в вышеназванном отделении готовятся присущие профилям соответствующие бакалавры.
                        За полувековой промежуток времени отделением руководили: старший преподаватель А.В.Валиев, кандидат педагогических наук, доцент К.Исаков, доктор филологических наук, профессор М.Сулайманов, кандидат экономических наук, доцент Т.Максутов, кандидат педагогических наук, доцент Ж.М.Орозбаев, доцент К.Шакиров, кандидат педагогических наук, доцент Б.Б.Муратбаев. все вышеназванные личности внесли огромный вклад в развитие и формирование отделения.
                        С 2012 года в названа факультет а работает в качестве зам декана по заочному отделению кандидат филологических наук, доцент Ч.Гапарова.
                        За это время учебные планы составлены в обновленном виде в соответствии с кредитной системой, успешно реализуется повышение качества обучения и оценка знаний с применением новых технологий. Широко применяется в процессе обучения информационная система AVN, прием экзаменов проводится через компьютерное тестирование.
                    </p>
                </section>
            </main>
        </div>
    </div>
    {% include 'include/footer.html' %}
{% endblock %}