{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
    <div class="container">
      <div class="content">
        {% include 'include/sidebar.html' %}

        <main class="tab">
          <section class="tab__content">
            <a href="{% url 'index' %}"
              ><i class="fa-solid fa-house"></i> >&nbsp;&nbsp;</a
            ><span>ЦЕЛИ И ОБЯЗАННОСТИ</span>
            <h3>ЦЕЛИ И ОБЯЗАННОСТИ</h3>
            <p>
              - ар тараптан өнүккөн, жогорку маалыматтуу башталгыч класстардын,
              дене тарбия мугалимдерин, мектепке чейинки билим берүү
              мекемелерине тарбиячыларды даярдоо; - башталгыч класстарда
              терендетилген англис тили, мектепке чейинки мекемелерде тарбиячы
              жана информатика, психология адистиктери боюнча кесиптик камылгасы
              мол, татыктуу кадрларды чыгаруу; - окутуу жараянында жаңы
              технологияларды колдонуу аркылуу студенттердин кесиптик
              чеберчилигин калыптандыруу, өлкөбүздү заманбап адистер менен
              камсыз кылуу; - болочок кесип ээлеринин тандап алган адистиги
              боюнча теориялык жана усулияттык билим пайдубалынын бекем болушуна
              жетишүү; - инсандын жогорку, ЖОЖдон кийинки жана кошумча кесиптик
              билим берүү аркылуу интеллектуалдык, маданий жана адеп-ахлактык
              өнүгүү талаптарын канааттандыруу; - илимий-педагогикалык
              кызматкерлердин жана студенттердин биргелешкен чыгармачылык
              ишмердүүлүгү аркылуу фундаменталдык, прикладдык илимдерди жана
              искусствону өнүктүрүү, алынган натыйжаларды билим берүү
              процесстеринде пайдалануу; - жогорку билимдүү адистерди даярдоо,
              кайра даярдоо жана квалификациясын жогорулатуу, ошондой эле жогоку
              квалификациялуу илимий-педагогикалык кадрларды даярдоо; -
              студенттердин жарандык позициясын, мекенчилдигин жана эмгекке
              болгон сүйүүсүн калыптандыруу, жоопкерчилигин, өз алдынчалыгын
              жана чыгармачылык активдүүлүгүн өнүктүрүү; - коомубуздун
              адеп-ахлактык, маданий жана илимий нарк-насилин сактоо жана
              көбөйтүү; - билимдерди калк арасына таратуу, мамлекеттин
              интеллектуалдык потенциалын жогорулатуу; - коомчулукка керек
              болгон психологдорду даярдоо.
            </p>
          </section>
        </main>
      </div>
    </div>
    {% include 'include/footer.html' %}
{% endblock %}